<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
<servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>ProductServlet</servlet-class>
    <multipart-config>
        <max-file-size>10485760</max-file-size> <!-- 10MB -->
        <max-request-size>52428800</max-request-size> <!-- 50MB -->
        <file-size-threshold>1048576</file-size-threshold> <!-- 1MB -->
    </multipart-config>
</servlet>

<servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>  <!-- This is the URL pattern to access the servlet -->
</servlet-mapping>

<!-- Servlet declaration for QRGenerateServlet -->
    <servlet>
        <servlet-name>QRGenerateServlet</servlet-name>
        <servlet-class>QRGenerateServlet</servlet-class>
    </servlet>

    <!-- URL pattern for the QRGenerateServlet -->
    <servlet-mapping>
        <servlet-name>QRGenerateServlet</servlet-name>
        <url-pattern>/QRGenerateServlet</url-pattern>
    </servlet-mapping>

</web-app>
