<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>QRCodeServlet</servlet-name>
        <servlet-class>web.QRCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QRCodeServlet</servlet-name>
        <url-pattern>/scan</url-pattern>
    </servlet-mapping>
</web-app>
